.container {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 90vh;
}

a {
  color: var(--el-color-primary);
  text-decoration: none;
}
